about.html
blog-single.html
blog.html
changelog.txt
contact.html
portfolio-details.html
portfolio.html
pricing.html
readme.txt
services.html
team.html
forms/
assets/img/blog/
assets/img/clients/
assets/img/portfolio/
assets/img/team/
assets/img/testimonials/
assets/scss/
